{% extends "layouts/base.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/categories/category.css">
{% endblock %}

{% set categories = craft.entries().section('categories').all() %}

{% block body %}
<div class="container">
    <h1>Categories</h1>

    <div class="category-list">
        {% for category in categories %}
            <a href="{{ category.url }}">{{ category.title }}</a>
        {% endfor %}
    </div>
</div>
{% endblock %}
